{
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "singleQuote": true,
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
