---

---

<section id="direct-relief">
	<div class="wrapper">
		<div class="p">
			<p>
				All proceeds from the Season of Gifting are being donated to Direct
				Relief!
			</p>
			<h3>What Is It?</h3>
			<p>
				Direct Relief is a humanitarian aid organization, active in all
				50 states and more than 80 countries, with a mission to improve the
				health and lives of people affected by poverty or emergencies.
			</p>
			<p>
				Learn more about their mission and how you can help at
				<a href="https://directrelief.org" target="_blank" rel="noopener noreferrer">
					directrelief.org
				</a>
			</p>
			<h3>But Wait, There's More!</h3>
			<p>
				Michael's employer is matching his contributions so every dollor raised
				will be doubled! That means for every Twitch subscription purchased or
				gifted, Direct Relief will receive approximately $5.00!
			</p>
		</div>
		<aside>
			<h2>
				<span>Direct Relief</span>
				<img src="/images/gifts/DirectRelief.png" alt="Direct Relief logo" />
			</h2>
		</aside>
	</div>
</section>

<style>

section {
	background-color: var(--blue);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 4rem 0;
	overflow: hidden;
	color: var(--light);
}
.wrapper {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
	gap: 2.5rem;
	margin: 2rem auto;
}
aside {
	position: relative;
	min-width: 40vw;
  z-index: 3;
}
h2 {
	font-family: var(--font-anton);
	font-size: 10rem;
	color: var(--dark);
	text-transform: uppercase;
}
h2 span {
	position: relative;
	z-index: 5;
}
img {
	position: absolute;
	height: 16rem;
	width: auto;
	top: -15vw;
	right: -5vw;
	z-index: 2;
	width: auto;
}
h3 {
	font-family: var(--font-anton);
	font-size: 2rem;
	text-transform: uppercase;
	margin: 1rem 0;
	color: var(--light);
}
strong {
	font-weight:bold;
}

@media (min-width: 640px) /* sm */ {
	img {
		top: -10vw;
		right: 0vw;
		height: 12rem;
		width: auto;
	}
	h2 {
		font-size: 7rem;
	}
}

@media (min-width: 768px) /* md */ {
	.wrapper {
		flex-direction: row;
		max-width: 75vw;
	}
	img {
		top: -12vw;
		right: -4vw;
		height: 15rem;
		width: auto;
	}
	h2 {
		font-size: 8rem;
	}
}

@media (min-width: 1024px) /* lg */ {
	img {
		height: 20rem;
		width: auto;
		top: -10vw;
		right: 0vw;
	}
	h2 {
		font-size: 10rem;
	}
}

@media (min-width: 1280px) /* xl */ {
	img {
		height: 25rem;
		width: auto;
		top: 8vw;
		right: 5vw;
	}
	h2 {
		font-size: 14rem;
	}
}

@media (min-width: 1536px) /* 2xl */ {
	aside {
		max-width: 40vw;
	}
	img {
		height: 25rem;
		width: auto;
		top: 8vw;
		right: 5vw;
		transform: rotate(20deg);
	}
}


</style>
