---
---
<script src="../../scripts/gifts.ts"></script>

<section>
	<div class="wrapper">
		<aside>
			<h4>Giving has its rewards!</h4>
			<p>You're gifting subs to others? That's the spirit!</p>
			<p>
				The top 5 sub gifters from Nov.  20th through Dec. 19th will receive
				extra gifts with their stickers.
			</p>
			<p>
				Select a ranking to see the gifts that will be included for that
				position.
			</p>
			<p>
				<strong>Important!</strong> Before you gift, make sure you agree to the
				<a href="/gifting/terms/" target="_blank">terms and conditions</a> of
				the competition.
			</p>
			<p>
				If you want to participate, you can start gifting subscriptions to the
				Bald Bearded Builder channel on Twitch. Then, be sure to fill out the
				<a href="#gift-me">registration form</a> so we can
				track your progress.
			</p>
		</aside>
		<div>
			<ul class="ranks">
				<li data-rank="1">1st</li>
				<li data-rank="2">2nd</li>
				<li data-rank="3">3rd</li>
				<li data-rank="4">4th</li>
				<li data-rank="5" class="active">5th</li>
			</ul>
			<ul class="gifts">
				<li data-prize="1,2,3,4,5" class="active" data-tippy-content="Sloth Dispelling Breakfast Blend<br/>Whole Bean Coffee, 12oz">
					<img src="/images/gifts/coffee.png" alt="Coffee to Code By"/>
				</li>
				<li data-prize="1" data-tippy-content="Surface Laptop, Copilot+ PC<br/>Snapdragon® X Plus<br/>16GB, 512GB SSD, 13.8in, Black">
					<img src="/images/gifts/surface.png" alt="Surface Laptop"/>
				</li>
				<li data-prize="1,2,3" data-tippy-content="Balsam & Cedar<br/>beeswax & soy candle, 13oz">
					<img src="/images/gifts/candle.png" alt="Candle to Code By"/>
				</li>
				<li data-prize="1,2,3,4" data-tippy-content="'Oh Geez! What the heck!?'<br/>BBB Rubber Duck mug, 15oz">
					<img src="/images/gifts/mug.png" alt="Oh Geez! Mug"/>
				</li>
				<li data-prize="1,2" data-tippy-content="git commit -m 'mistakes were made'<br/>T-shirt">
					<img src="/images/gifts/tshirt.png" alt="Mistakes Were Made T-shirt"/>
				</li>
			</ul>
		</div>
	</div>
</section>

<style>
section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 4rem 0;
	overflow: hidden;
}
.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	margin: 2rem 0;
}
aside {
	position: relative;
	min-width: 40vw;
  z-index: 3;
}
h4 {
	font-family: var(--font-anton);
	font-size: 2.5rem;
	color: var(--blue);
	text-transform: uppercase;
	margin: 0 0 1rem 0;
}
ul.ranks {
	list-style: none;
	display: flex;
	gap: 1rem;
	justify-content: center;
	margin-bottom: 2rem;
}
ul.ranks li {
	font-family: var(--font-anton);
	font-size: 1.5rem;
	color: var(--text);
	text-transform: uppercase;
	padding: 0.5rem;
	background: var(--tint);
	transform: scale(0.9);
	cursor: pointer;
}
ul.ranks li.active,
ul.ranks li:active {
	transform: scale(1.1) rotate(-5deg);
	background-color: var(--pink);
	color: var(--light);
}
ul.ranks li:nth-child(even).active,
ul.ranks li:nth-child(even):active {
	transform: rotate(5deg);
}

ul.gifts {
	display: flex;
  flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
}
ul.gifts li {
  flex: 0 0 calc(12% - 20px);
	border: 10px dashed var(--dulled-2);
}
ul.gifts li img {
	width: 10rem;
	height: auto;
	filter: blur(5px) grayscale(1);
}
ul.gifts li.active {
	border-color: var(--pink);
}
ul.gifts li.active img {
	filter: none;
}

strong {
	font-weight: bold;
	color: var(--pink);
}

@media (min-width: 768px) /* md */ {
	ul.gifts li img {
		width: 13rem;
	}
}

@media (min-width: 1024px) /* lg */ {
	ul.gifts li img {
		width: 14rem;
	}
}

@media (min-width: 1280px) /* xl */ {
	.wrapper {
		flex-direction: row;
		max-width: 75vw;
		gap: 5rem;
	}
	ul.gifts li img {
		width: 8rem;
	}
}

@media (min-width: 1536px) /* 2xl */ {
	ul.gifts li img {
		width: 10rem;
	}
}


</style>
