---

export interface Props {
  user: {
		id: string;
		nickname: string;
		profileImg: string;
	};
}
const { user } = Astro.props;

---

	<h3>
		Yo 
		<img src={user.profileImg} alt={`${user.nickname}'s Twitch profile picture'`} class="profile" />
		{user.nickname}!
	</h3>
	<p>
		We've got you! You're registered to receive your Season of Gifting gifts. 🎁
	</p>
	<p>
		<strong>Thank you for your support!</strong>
	</p>

<style>

h3 {
	font-family: var(--font-anton);
	font-size: 2rem;
	text-transform: uppercase;
	margin: 1rem 0;
	color: var(--text);
	display: flex;
	gap: 0.4rem;
	align-items: center;
}
p {
	color: var(--text);
}
strong {
	font-weight:bold;
}
.small {
	font-size: 0.7rem;
	color: var(--purple);
	margin: 0;
	padding: 0;
}

@media (min-width: 640px) /* sm */ {
	h2 {
		font-size: 7rem;
	}
}

@media (min-width: 768px) /* md */ {
	h2 {
		font-size: 9rem;
	}
}

@media (min-width: 1024px) /* lg */ {
	h2 {
		font-size: 12rem;
	}
}

@media (min-width: 1280px) /* xl */ {
	h2 {
		font-size: 14rem;
	}
}

</style>
