$dark: #262626;
$light: #fffefe;
$green: #1adbbb;
$blue: #14a5ed;
$purple: #7f64fb;
$pink: #f33265;
$yellow: #ffaf84;
$orange: #ff766c;
$gray: #777777;
$bg-dark: #121416;

$gradient: linear-gradient(
  to right,
  $green,
  $blue,
  $purple,
  $pink,
  $yellow,
  $orange
);

$syne: 'Syne', sans-serif;
$inter: 'Inter', sans-serif;

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
