article.container {
	margin-top: 2rem;
}

.content {
	padding: 2rem 0;
	color: oklch(58.8% 0 234.79);
	display: flex;
	flex-direction: column;
}

.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
	--bg-size: 400%;
	background: var(--gradient) 0 0 / var(--bg-size) 100%;
	color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: move-bg 15s infinite linear;
	margin: 1.5rem 0;
	padding: 0.2rem 0;
}
.content h2 {
	font-size: 1.8rem;
}
.content h3 {
	font-size: 1.4rem;
}
.content h4 {
	font-size: 1rem;
}
.content h5,
.content h6 {
	font-size: 0.9rem;
}

.content p,
.content li {
	margin: 0.75rem;
	font-size: 0.9rem;
	line-height: 1.1rem;
}

.content a {
	color: var(--green);
}

.content ul {
	list-style: disc;
	margin-left: 1.5rem;
}
.content blockquote {
	border-left: 4px solid var(--blue);
	padding: 0.5rem 1.5rem;
	margin: 1rem 0;
	background: oklch(100% 0 0 / 5%);
	backdrop-filter: blur(15px);
}
.content blockquote p {
	margin: 0.5rem 0;
}

.content p:has(img) {
	max-width: 80%;
	display: inline-flex;
	margin: 1.5rem auto;
	background: var(--bg);
	position: relative;
}

.content img {
	width: 100%;
}

.content p:has(img):before,
.content p:has(img):after {
	content: "";
	position: absolute;
	left: -2px;
	top: -2px;
	--a: 0deg;
	background: conic-gradient(
		from var(--a) at 50% 50% in srgb,
		var(--green) 15%,
		var(--blue) 30%,
		var(--blue) 65%,
		var(--green) 80%
	);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 15s linear infinite;
}
.content p:has(img):after {
	filter: blur(15px);
}

.expressive-code {
	margin: 1.5rem auto;
	width: 100%;
}
.expressive-code .frame pre {
	max-height: 24rem;
}

.expressive-code .copy {
	margin-right: 8px;
}
