.content {
	display: flex;
	flex-direction: column;
}

.content > *:not(.expressive-code):not(blockquote) {
	margin-left: 4rem;
	margin-right: 4rem;
}

.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
	font-family: var(--font-anton);
	margin: 1.5rem 0;
	padding: 0.2rem 0;
	display: flex;
	align-items: center;
	text-transform: uppercase;
}
.content h2 {
	font-size: 4rem;
}
.content h3 {
	font-size: 3.5rem;
}
.content h4 {
	font-size: 3rem;
}
.content h5,
.content h6 {
	font-size: 2.5rem;
}

.content h2 a,
.content h3 a,
.content h4 a,
.content h5 a,
.content h6 a {
	border: 0;
}

.content p,
.content li {
	margin: 0.75rem;
	font-size: 1rem;
	line-height: 1.5rem;
}

.content a {
	color: var(--green);
}

.content ul {
	list-style: disc;
	margin-left: 1.5rem;
}
.content blockquote {
	border: 8px dotted var(--purple);
	padding: 1rem 1.5rem;
	margin: 1.5rem auto;
	width: 85%;
	background: var(--tint);
	transform: rotate(1deg);
}
.content blockquote p {
	margin: 0.5rem 0;
	font-size: 1.25rem;
	line-height: 1.75rem;
}

.content blockquote strong {
	font-weight: bold;
	color: var(--text);
}

.content p:has(img) {
	margin: 1.5rem auto;
	background: var(--bg);
	position: relative;
}

.content img {
	width: 75vw;
	border: 5px dashed var(--blue);
	padding: 0.5rem;
	transform: rotate(1deg);
	align-self: center;
}

.content a:has(img) {
	border: 0;
}

.content p code {
	color: var(--blue);
	font-style: italic;
	padding: 0.1rem 0.25rem;
	border-radius: 0.25rem;
	font-size: 0.95rem;
}
.content p code:before {
	content: "“";
}
.content p code:after {
	content: "”";
}

.expressive-code {
	width: 95%;
	margin: 1.5rem auto;
	border: 5px dashed var(--pink);
	transform: rotate(-1deg);
}
.expressive-code .frame pre {
	max-height: 24rem;
}

.expressive-code .copy {
	margin: 1rem 1rem 0 0;
	transform: rotate(3deg);
}

.snapshot blockquote h2 {
	margin: 0.5rem 0;
}

@media (min-width: 768px) /* md */ {
	.content blockquote {
		width: 90%;
	}
}
	