@import url("./fonts.css");
@import url("./reset.css");
@import url("./keyframes.css");
@import url("./content.css");

:root {
	--green: oklch(83.66% 0.125 176.45);
	--blue: oklch(55.6% 0.1195 247.11);

	--dark: oklch(14.96% 0 0);
	--light: oklch(98.51% 0 0);

	--gradient: linear-gradient(
		to right,
		var(--green),
		var(--blue),
		var(--green)
	);
	--gradient-gray: linear-gradient(
		to right,
		var(--gray-light),
		var(--gray-dark)
	);
	--gradient-gray: linear-gradient(
		to right,
		var(--gray-light),
		var(--gray-dark)
	);

	--size: clamp(10rem, 1rem + 40vmin, 30rem);
	--gap: calc(var(--size) / 14);
	--duration: 60s;
	--scroll-start: 0;
	--scroll-end: calc(-100% - var(--gap));

	--discord: #7289da;
	--facebook: #3b5998;
	--github: var(--light);
	--instagram: #bc2a8d;
	--linkedin: #0077b5;
	--twitch: #6441a4;
	--twitter: #1da1f2;
	--tiktok: #ff0050;
	--youtube: #e52d27;

	--light-text: oklch(51.2% 0 225.9);

	--gray-light: oklch(31.6% 0 227.38);
	--gray-dark: oklch(19.6% 0 228.44);

	--bg: var(--dark);
	--text: var(--light);
	--glass: oklch(100% 0 0 / 1%);
	--glass-border: oklch(50.67% 0 0 / 20%);

	--nav-link: var(--light);
	--nav-link-hover: var(--blue);
}

/* [data-theme="light"] {
	--bg: var(--light);
	--text: var(--dark);
	--glass: oklch(0% 0 0 / 3%);
	--glass-border: oklch(17.6% 0 0 / 20%);

	--nav-link: var(--dark);
	--nav-link-hover: var(--green);
} */

/* [data-theme="dark"] {
	--bg: var(--dark);
	--text: var(--light);
	--glass: oklch(100% 0 0 / 1%);
	--glass-border: oklch(50.67% 0 0 / 20%);

	--nav-link: var(--light);
	--nav-link-hover: var(--blue);
} */

body {
	background: var(--bg);
	font-family: "Poppins", sans-serif;
	color: var(--text);
}

.container {
	width: 100%;
}

.gradient {
	--bg-size: 400%;
	background: var(--gradient) 0 0 / var(--bg-size) 100%;
	color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: move-bg 15s infinite linear;
}

.glass {
	background: var(--glass);
	border-top: 1px solid var(--glass-border);
	border-bottom: 1px solid var(--glass-border);
	backdrop-filter: blur(15px);
}

section.mast h1 {
	font-size: 1.75rem;
	color: var(--text);
	background-color: oklch(14.96% 0 0 / 30%);
	padding: 0.5rem;
	backdrop-filter: blur(10px);
	text-align: center;
}

section.mast h1 span {
	--bg-size: 400%;
	background: var(--gradient) 0 0 / var(--bg-size) 100%;
	color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: move-bg 15s infinite linear;
}

section.mast p {
	color: var(--text);
	margin-top: 0.5rem;
	background-color: oklch(14.96% 0 0 / 30%);
	padding: 0.25rem;
	backdrop-filter: blur(10px);
}

label {
	display: inline-block;
	margin: 0.5rem 0;
	font-size: 0.9rem;
	color: var(--text);
}
label .required {
	color: red;
	font-weight: normal;
	font-size: 0.75rem;
	margin-left: 0.5rem;
}

input,
textarea {
	border: 1px solid var(--gray-light);
	padding: 0.5rem;
	width: 75%;
	border-color: var(--bg);
	background-color: var(--gray-light);
	color: var(--text);
}
input:focus,
textarea:focus {
	outline: none;
	border-color: var(--green);
}

button:not([data-copied="Copied!"]) {
	margin-top: 1.5rem;
	padding: 0.75rem 2rem;
	text-transform: uppercase;
	font-weight: bold;
	color: var(--light-text);
	position: relative;
	background-color: var(--bg);
	cursor: pointer;
}

button:not([data-copied="Copied!"]):before,
button:not([data-copied="Copied!"]):after {
	--a: 0deg;
	content: "";
	position: absolute;
	left: -2px;
	top: -2px;
	background: conic-gradient(
		from var(--a) at 50% 50%,
		rgba(60, 60, 60, 0.45) 35%,
		rgba(212, 212, 216, 1) 50%,
		rgba(60, 60, 60, 0.45) 65%
	);
	z-index: -1;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: steam 10s linear infinite;
}
button:not([data-copied="Copied!"]):after {
	filter: blur(15px);
}
button:not([data-copied="Copied!"]):hover {
	color: var(--green);
	background-color: var(--gray-dark);
}
button:not([data-copied="Copied!"]):hover:before,
button:not([data-copied="Copied!"]):hover:after {
	border-color: transparent;
	background: conic-gradient(
		from var(--a) at 50% 50% ,
		var(--green),
		var(--blue)
	);
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.autolink-svg {
	color: var(--gray-light);
	fill: var(--gray-light);
	margin-right: 0.5rem;
	height: 1rem;
}

h2,
h3,
h4,
h5,
h6 {
	display: flex;
	align-items: baseline;
}
.autolink-header {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.tippy-box {
	padding: 0.5rem 0.5rem;
	border-radius: 0.25rem;
	background-color: var(--gray-light);
}
.tippy-content {
	font-size: 0.8rem;
}
.tippy-box[data-placement^="right"] > .tippy-arrow::before {
	border-top-color: var(--gray-light);
}

@media (min-width: 640px) /* sm */ {
	.container {
		max-width: 640px;
		margin: 0 auto;
	}
	section.mast h1 {
		width: 80%;
	}
}

@media (min-width: 768px) /* md */ {
	.container {
		max-width: 768px;
	}
	section.mast h1 {
		font-size: 2.5rem;
	}
}

@media (min-width: 1024px) /* lg */ {
	.container {
		max-width: 1024px;
	}
}

@media (min-width: 1280px) /* xl */ {
	.container {
		max-width: 1280px;
	}
}

@media (min-width: 1536px) /* 2xl */ {
	.container {
		max-width: 1536px;
	}
}
@media (min-width: 768px) /* md */ {
	.container {
		max-width: 768px;
	}
}

@media (min-width: 1024px) /* lg */ {
	.container {
		max-width: 1024px;
	}
	.container > .card:nth-of-type(1n + 7) {
		display: none;
	}
}

@media (max-width: 1024px) {
	.container > .card:nth-of-type(1n + 5) {
		display: none;
	}
}

@media (min-width: 1279px) /* xl */ {
	.container {
		max-width: 1280px;
	}
	.container > .card:nth-of-type(1n + 7) {
		display: flex;
	}
}

@media (prefers-reduced-motion: no-preference) {
}
