@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

html,
body {
  @apply h-full;
}

body {
  @apply flex flex-col;
  @apply bg-black;
  @apply text-gray-200;
  @apply font-poppins;

  .siteHeader {
    @apply fixed w-full top-0;
    @apply flex flex-row justify-center md:justify-between items-center;
    @apply py-6 px-8;

    &.scrolled {
      background-color: rgb(0 0 0 / 0.7);
      backdrop-filter: blur(16px);
      @apply z-10 transition ease-in-out duration-100;
    }

    nav {
      @apply flex w-full md:w-auto;
      > ul {
        @apply flex justify-between w-full;
        @apply whitespace-nowrap list-none;

        li {
          @apply flex;
          @apply m-0;
          @apply lowercase;

          &:not(:first-child) {
            @apply sm:ml-12;
          }

          a {
            @apply text-gray-300;

            &:hover {
              @apply text-gray-100;
            }
          }
        }
      }
    }

    .socials {
      @apply hidden md:flex gap-8;

      .icon {
        @apply text-gray-500 fill-gray-500;

        &:hover,
        &:active {
          @apply fill-gray-100 text-gray-100;
        }
      }
    }
  }

  footer {
    @apply pb-12;

    .wrapper {
      @apply flex flex-col flex-col-reverse sm:grid sm:grid-cols-2 gap-8;

      .copyright {
        @apply mt-6;
        @apply text-xs text-gray-400;
      }

      nav {
        @apply flex flex-row gap-16;

        > ul {
          @apply flex flex-col gap-2;
          @apply whitespace-nowrap list-none;
          @apply mt-8;

          li {
            @apply flex;
            @apply lowercase;
            a {
              @apply text-gray-400;

              &:hover {
                @apply text-gray-100;
              }
            }
          }
        }
      }

      ul.socials {
        @apply mt-8;
        @apply flex gap-6;

        .icon {
          @apply text-gray-400 fill-gray-400;

          &:hover,
          &:active {
            @apply fill-gray-100 text-gray-100;
          }
        }
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-inter font-bold;
    @apply mb-4;
  }

  h1 {
    @apply text-gray-100;
    @apply text-4xl sm:text-5xl lg:text-6xl;
  }

  h2 {
    @apply text-5xl;
  }

  h3 {
    @apply text-3xl;
  }

  p {
    @apply mb-4;
  }

  blockquote {
    @apply my-8;
    @apply border;
    border-color: rgba(255, 255, 255, 0.1);
    @apply p-8;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.03)
    );

    p {
      @apply mb-1;
    }
    strong {
      @apply text-neonPink;
    }
  }

  > main {
    @apply mb-auto;
    @apply flex flex-col;
  }

  .wrapper {
    @apply w-full;
    @apply lg:mx-auto;
    @apply lg:max-w-4xl xl:max-w-6xl;
    @apply px-8;
  }

  .wrapper main section {
    h2,
    h3 {
      @apply my-8;
    }
    h4,
    h5,
    h6 {
      @apply my-4;
    }

    h2 {
      @apply text-4xl;
      @apply pt-12;

      @apply border-t;
      border-image-source: linear-gradient(
        to left,
        #000,
        rgba(255, 255, 255, 0.3),
        #000
      );
      border-image-slice: 1;
    }
    h3 {
      @apply text-3xl;
    }
    h4 {
      @apply text-2xl;
    }
    h5 {
      @apply text-xl;
    }

    a {
      @apply text-neonPink;
    }

    pre {
      --transition-duration: 700ms;
      @apply my-8;
      @apply border;
      border-image-source: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.6) 100%
      );
      border-image-slice: 1;
      @apply w-full sm:w-4/5 self-center;

      @apply p-4;
      scrollbar-width: thin;
      scrollbar-color: red orange;
      @apply max-h-96;

      transition: width var(--transition-duration);

      &:hover {
        @apply w-full;
      }

      &::-webkit-scrollbar {
        width: 0.7rem;
        @apply bg-transparent;
      }

      &::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0.1);
      }

      &::-webkit-scrollbar-thumb {
        width: 5px;
        border: solid 0.075rem rgba(255, 255, 255, 0.3);
        background-color: rgba(255, 255, 255, 0.2);
        @apply rounded-2xl;
      }

      code {
      }
    }

    img {
      --transition-duration: 700ms;

      @apply w-3/4;
      @apply mx-auto;
      @apply my-8 p-2;
      @apply border;
      border-image-source: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.6) 100%
      );
      border-image-slice: 1;
      transition: width var(--transition-duration);

      &:hover {
        @apply w-full;
      }
    }

    ul {
      @apply ml-8;

      li {
        @apply mb-4;

        &:before {
          content: '\1806';
          @apply font-bold text-neonPink;
          @apply inline-block;
          width: 1em;
        }
      }
    }
  }

  .hideMe {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .separator {
    @apply w-full;
    @apply lg:mx-auto;
    @apply lg:max-w-4xl xl:max-w-6xl;

    @apply border-t;
    border-image-source: linear-gradient(to left, #000, rgb(243 244 246), #000);
    border-image-slice: 1;
    background-image: radial-gradient(
      at top center,
      rgba(243, 244, 246, 0.15),
      #000 60%
    );

    @apply h-16;
  }

  .toc {
    @apply border;
    border-image-source: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.6) 100%
    );
    border-image-slice: 1;
    @apply p-4;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.03)
    );

    ul {
      @apply flex-col;
      @apply py-2;

      li {
        @apply text-sm;
        @apply py-2 px-4;
        @apply border-l-4 border-transparent;

        a {
          @apply text-gray-400;

          &:hover {
            @apply text-gray-100;
          }
        }

        &.link--level3 {
          @apply pl-8;
        }

        &.link--active {
          @apply border-neonPink;
          @apply border-l-4;

          a {
            @apply text-gray-100;
          }
        }
      }
    }
  }

  .hint {
    @apply text-xs text-gray-400;
  }

  label {
    @apply font-bold text-silverGradient;
  }

  input, textarea {
    @apply border border-silverGradient;
    @apply bg-transparent;
    @apply rounded-sm;
    @apply p-2;
    @apply w-4/5 md:w-3/5 lg:w-4/5;

    &::placeholder {
      @apply text-gray-700;
    }
  }

  button {
    @apply flex items-center justify-center;
    @apply uppercase;
    @apply py-2 px-8;
    @apply border;

    border-image-source: linear-gradient(
      to left,
      rgba(255, 0, 255, 40%),
      rgba(255, 0, 255, 80%),
      rgba(255, 0, 255, 40%)
    );
    border-image-slice: 1;
    box-shadow: 0px 0px 20px 2px rgb(255 0 255 / 0.2);
    transition: box-shadow ease 0.5s;

    &:hover {
      box-shadow: 0px 0px 20px 2px rgb(255 0 255 / 0.5);
    }
  }
}

#braindumpsmall {
  h4 {
    @apply text-3xl;
  }
  p {
    @apply text-sm;
  }

  input {
    @apply w-full;
  }

  div > div {
    @apply grid grid-cols-2 gap-2;
  }
}

#braindump {
  .title {
    @apply flex items-center sm:justify-center;

    img {
      @apply relative left-16;
      @apply -rotate-12;
      @apply h-40 lg:h-40;
      @apply z-0;
      @apply -ml-14 lg:ml-0;
    }

    h2 {
      @apply text-7xl uppercase;
      @apply bg-no-repeat;
      @apply -ml-8;
      @apply z-0;
      @apply whitespace-nowrap;
    }
  }
}

.svg-icon {
  @apply inline-flex;
  @apply self-center;
  @apply relative;

  > svg {
    height: 1em;
    width: 1em;
    stroke: none;
    fill: none;

    &.fill {
      @apply fill-current;
    }

    &.stroke {
      @apply stroke-current;
      @apply stroke-2;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }
}
