[[redirects]]
  from = "https://bbb.dev/*"
  to = "https://baldbeardedbuilder.com/api/smolify?path=:splat"
  status = 301
  force = true
  
[[redirects]]
  from = "/posts/*"
  to = "/blog/:splat"
  status = 301
  force = true