[[redirects]]
  from = "https://bbb.dev/*"
  to = "https://bvyerlczpakdlfvybkev.supabase.co/functions/v1/redirect?path=:splat"
  status = 301
  force = true

[[redirects]]
  from = "/brain-dump/*"
  to = "/"
  status = 301
  force = true
  
[[redirects]]
  from = "/posts/*"
  to = "/blog/:splat"
  status = 301
  force = true

