---
import type { CollectionEntry } from "astro:content";

export interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { title, summary, image } = post.data;
const bgImage = `url('${image}')`;
---

<li>
  <a href={`/blog/${post.slug}/`}>
    <div class="img"></div>
    <section>
      <div class="summary">
        <h2>{title}</h2>
        <p>{summary}</p>
      </div>
    </section>
  </a>
</li>

<style define:vars={{ bgImage }}>
  li {
    @apply flex-grow;
    @apply card hover:bg-muted hover:shadow-xl;
  }

  a {
    @apply grid gap-4 m-0;
    @apply h-full;
    grid-template-columns: 12rem auto;
  }

  .img {
    @apply bg-darkGray;
    @apply rounded-tl-lg rounded-bl-lg;
    border: 2px solid rgba(148, 148, 148, 0.3);
    border-right: none;
    background-image: var(--bgImage);
    @apply bg-cover bg-center;
    @apply bg-blend-luminosity;
    filter: blur(5px);
    -webkit-filter: blur(5px);
  }

  a:hover .img {
    @apply bg-blend-normal;
    filter: none;
    -webkit-filter: none;
  }

  section {
    @apply flex p-6;
  }

  h2 {
    @apply font-kanit font-semibold text-white;
    @apply text-xl md:text-2xl;
    @apply pb-2;
  }
  p {
    @apply text-sm;
  }
</style>
