---
import type { CollectionEntry } from "astro:content";
import Card from "./Card.astro";

export interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { title, summary, image } = post.data;
const bgImage = `url('${image}')`;
---

<Card>
  <a href={`/blog/${post.slug}/`} class="optout">
    <div class="img"></div>
    <section>
      <div class="summary">
        <h5>{title}</h5>
        <p>{summary}</p>
      </div>
    </section>
  </a>
</Card>

<style define:vars={{ bgImage }}>
  a {
    @apply grid gap-4 m-0;
    @apply h-full;
    grid-template-columns: 6rem auto;
    @apply overflow-hidden;
  }

  @screen md {
    a {
      grid-template-columns: 10rem auto;
    }
  }
  @screen lg {
    a {
      grid-template-columns: 12rem auto;
    }
  }

  .img {
    @apply bg-darkGray;
    @apply rounded-tl-lg rounded-bl-lg;
    background-image: var(--bgImage);
    @apply bg-cover bg-center;
    @apply bg-blend-luminosity;
    filter: blur(5px);
    -webkit-filter: blur(5px);
  }

  a:hover .img {
    animation: blur 0.15s ease-in forwards;
  }

  section {
    @apply flex p-4 md:p-6;
  }

  h5 {
    @apply font-kanit font-semibold text-white;
    @apply text-xl md:text-2xl;
    @apply pb-2;
  }
  p {
    @apply text-sm;
  }
</style>
