---
import type { CollectionEntry } from "astro";

export interface Props {
  brainDump: CollectionEntry<"brainDump">;
}

const { brainDump } = Astro.props;

let options = {
  year: "numeric",
  month: "long",
  day: "numeric",
};
---

<li class="card">
  <a href={`/brain-dump/${brainDump.slug}/`}>
    <h4>{brainDump.data.title}</h4>
    <p>{brainDump.data.description}</p>
    <date
      >{
        new Intl.DateTimeFormat("en-US", options).format(brainDump.data.pubDate)
      }</date
    ></a
  >
</li>

<style>
  .card {
    list-style: none;
    padding: 1rem;
  }
  .card:hover {
    box-shadow: var(--shadow);
  }
  .card > a {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-left: 2.5rem;
    border-image-source: var(--gradient-vert);
    border-left: 6px solid;
    border-image-slice: 1;
    border-bottom: 0px;
    animation: unset;
  }
  .card > a:hover {
    text-emphasis: none;
  }
  .card > a > h4 {
    font-family: var(--inter);
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: var(--text);
  }
  .card > a > p,
  .card > a > date {
    font-size: 0.8rem;
    color: var(--gray);
  }
</style>
