---
import type { CollectionEntry } from "astro:content";
import Card from "./Card.astro";

export interface Props {
  brainDump: CollectionEntry<"brainDumps">;
}

const { brainDump } = Astro.props;

let options = {
  year: "numeric",
  month: "long",
  day: "numeric",
};
---

<Card>
  <a href={`/brain-dump/${brainDump.slug}/`} class="optout">
    <h5>{brainDump.data.title}</h5>
    <p>{brainDump.data.description}</p>
    <date
      >{
        new Intl.DateTimeFormat("en-US", options).format(brainDump.data.pubDate)
      }</date
    ></a
  >
</Card>

<style>
  a {
    @apply flex h-full flex-col items-start justify-start;
    @apply p-4 pl-6 border-l-4 border-zinc-300;
    @apply rounded-lg;
  }
  a:hover {
    @apply border-neon;
  }
  h5 {
    @apply font-inter font-normal;
    @apply text-zinc-300 !important;
    @apply m-0 p-0;
  }
  p {
    @apply my-3 !important;
  }
  p,
  date {
    @apply text-zinc-500;
  }
  p {
    @apply text-sm xl:text-base;
  }
  date {
    @apply mt-auto;
    @apply text-sm;
  }
</style>
