---

export interface Props {
	url: string | undefined;
	classes?: string | undefined;
}

const { url, classes, ...rest } = Astro.props;
---

<a {...rest} class={classes} href={url}>
	<slot/>
</a>

<style>

	@property --a {
		syntax: "<angle>";
		inherits: false;
		initial-value: 90deg;
	}
	
	a {
		display: flex;
		flex-direction: column;
		position: relative;
		padding: 1rem;
		text-decoration: none;
		color: oklch(58.8% 0 234.79);
		background: var(--bg);
		border: solid 1px var(--gray-light);
	}

	a:hover {
		border-color: transparent;
	}

  a:hover:before,
  a:hover:after {
    --a: 0deg;
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    background: conic-gradient( from var(--a) at 50% 50% in srgb, var(--pink), var(--blue), var(--pink));
		width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 10s linear infinite;
	}

	a:before {
		z-index: -1;
	}

	a:after {
		filter: blur(0.5rem);
	}
</style>
