---
import type { CollectionEntry } from "astro:content";
import Card from "./Card.astro";
export interface Props {
  gear: CollectionEntry<"gear">;
}

const { title, description, link } = Astro.props.gear.data;
---

<Card>
  <div class="deets">
    <h5>{title}</h5>
    {description && <p>{description}</p>}
    {
      link && (
        <a href={link} target="_blank" rel="noopener noreferrer">
          more →
        </a>
      )
    }
  </div>
</Card>

<style>
  .deets {
    @apply flex h-full flex-col items-start justify-start;
    @apply p-4 pl-6 border-l-4 border-zinc-300;
    @apply rounded-lg;
  }
  .deets:hover {
    @apply border-neon;
  }
  h5 {
    @apply font-inter font-normal;
    @apply text-zinc-300 !important;
    @apply m-0 p-0;
    @apply m-0 !important;
  }
  p {
    @apply my-3 !important;
  }
  p {
    @apply text-zinc-500;
    @apply text-sm xl:text-base;
  }
  a {
    @apply mt-auto;
  }
</style>
