---
import type { CollectionEntry } from "astro:content";
import Card from "./Card.astro";

export interface Props {
  gear: CollectionEntry<"gear">;
}

const { gear, ...rest } = Astro.props;
const { title, description } = gear.data;
---

<Card {...rest} url={gear.data.link}>
  <h3>{title}</h3>
  <p>{description}</p>
</a>

<style>
	h3 {
		background: unset;
		animation: unset;
		--bg-size: 400%;
		animation: unset;
		-webkit-background-clip: unset;
		-webkit-text-fill-color: unset;
		color: oklch(100% 0 0);
		font-weight: bold;
		font-size: 1.2rem;
		line-height: 1.4rem;
		padding: 0.2rem;
	}

	p {
		font-size: 0.8rem;
		line-height: 0.9rem;
		padding: 0.2rem;
	}
</style>
