---
import type { CollectionEntry } from "astro:content";
import BaseCard from "@components/Cards/BaseCard.astro";

export interface Props {
  video: CollectionEntry<"videos">;
  classes?: string | undefined;
}

const { video, classes, ...rest } = Astro.props;
const { title, summary, thumbnail, link } = video.data;
---

<BaseCard {...rest} {classes} url={link}>
  <img src={thumbnail} loading="lazy" />
  <div>
    <h3>{title}</h3>
  </div>
</BaseCard>

<style>
  .video {
    display: flex;
    flex-direction: row;
    width: 100vw;
    border: 0;
  }
  .video img {
    display: none;
  }
  .video:nth-of-type(even) {
    flex-direction: row-reverse;
  }
  .video div {
    padding: 2.5rem;
  }
  h3 {
    font-family: var(--font-anton);
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 95%;
  }
  p {
    color: var(--text);
    line-height: 1.5rem;
    width: 80%;
  }

  .video1 {
    background-color: var(--blue);
  }
  .video1 h3 {
    color: var(--light);
  }
  .video1 p {
    color: var(--dark);
  }
  .video2 {
    background-color: var(--pink);
  }
  .video2 h3 {
    color: var(--yellow);
  }
  .video2 p {
    color: var(--light);
  }
  .video3 {
    background-color: var(--bg-2);
  }
  .video3 h3 {
    color: var(--pink);
  }
  .video3 p {
    color: var(--bg);
  }
  .video4 {
    background-color: var(--purple);
  }
  .video4 h3 {
    color: var(--blue);
  }
  .video4 p {
    color: var(--light);
  }
  .video5 {
    background-color: var(--yellow);
  }
  .video5 h3 {
    color: var(--purple);
  }
  .video5 p {
    color: var(--dark);
  }
  .video6 {
    background-color: var(--bg);
  }
  .video6 h3 {
    color: var(--pink);
  }
  .video6 p {
    color: var(--text);
  }

  @media (min-width: 640px) /* sm */ {
    h3 {
      font-size: 4rem;
    }
  }

  @media (min-width: 768px) /* md */ {
    h3 {
      font-size: 5rem;
    }
  }

  @media (min-width: 1024px) /* lg */ {
    .video img {
      display: block;
    }
  }
</style>
