---
import type { CollectionEntry } from "astro:content";
import Card from "./Card.astro";

export interface Props {
  video: CollectionEntry<"videos">;
}

const { video } = Astro.props;
const { title, thumbnail: image } = video.data;
const bgImage = `url('${image}')`;
---

<Card hoverColor="rgba(255, 0, 0, .8)">
  <a href={`https://www.youtube.com/watch?v=${video.id}`} class="optout">
    <div class="img"></div>
    <section>
      <div class="summary">
        <h5>{title}</h5>
      </div>
    </section>
  </a>
</Card>

<style define:vars={{ bgImage }}>
  a {
    @apply grid gap-4 m-0;
    @apply h-full;
    grid-template-columns: 12rem auto;
    @apply overflow-hidden;
  }

  .img {
    @apply bg-darkGray;
    @apply rounded-tl-lg rounded-bl-lg;
    background-image: var(--bgImage);
    @apply bg-center bg-no-repeat bg-cover;
    @apply bg-blend-luminosity;
    filter: blur(5px);
    -webkit-filter: blur(5px);
  }

  a:hover .img {
    animation: blur 0.15s ease-in forwards;
  }

  section {
    @apply flex p-4 md:p-6;
  }

  h5 {
    @apply font-kanit font-semibold text-white;
    @apply text-xl md:text-2xl;
    @apply pb-2;
  }

  @screen md {
    a {
      grid-template-columns: 16rem auto;
    }
  }
  @screen lg {
    a {
      grid-template-columns: 12rem auto;
    }
    .img {
      background-size: initial;
    }
  }

  @screen xl {
    a {
      grid-template-columns: 20rem auto;
    }
    .img {
      @apply bg-cover;
    }
  }
</style>
