---
const title = "Season of Gifting Terms & Conditions";
const description =
	"Join in on the fun and help us give back to the community this holiday season!";
const permalink = `https://${import.meta.env.HOST}/gifting/terms/`;
---

<html>
	<head>

		<!-- Global Metadata -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<link rel="icon" type="image/x-icon" href="/images/favicon/favicon.ico" />
		<link
			rel="icon"
			type="image/png"
			href="/images/favicon/favicon-16x16.png"
			sizes="16x16"
		/>
		<link
			rel="icon"
			type="image/png"
			href="/images/favicon/favicon-32x32.png"
			sizes="32x32"
		/>
		<link
			rel="apple-touch-icon"
			href="/images/favicon/apple-touch-icon.png"
			sizes="180x180"
		/>
		
		<!-- Primary Meta Tags -->
		<title>{title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={description} />

	</head>
	<body>

		<h1>Season of Gifting Terms & Conditions</h1>

		<h2>Introduction</h2>
		
		<p>
			By participating in the competition, you are agreeing to these competition
			terms and conditions. The competition is being run by Bald Bearded
			Builder, LLC.
		</p>

		<h2>Eligibility to Enter</h2>

		<p>
			The competition is open to entrants who are at least 18 years of age or
			older. Bald Bearded Builder, LLC employees and associates are excluded
			from the competition.
		</p>

		<p>
			By entering the competition, you confirm that you are eligible to do so
			and that you are eligible to receive any prizes that may be awarded to
			you.
		</p>

		<p>
			There is a limit of one entry per person.
		</p>

		<p>
			Entrance is made by gifting a subscription to the Bald Bearded Builder
			Twitch channel during the competition period and completing the
			registration form located on the Bald Bearded Builder website.
		</p>

		<h2>The Prizes</h2>

		<p>There are five possible prize combinations:</p>

		<h3>Fifth Place</h3>

		<ul>
			<li>12oz bag of Sloth Dispelling Breakfast Blend whole bean coffee</li>
			<li>Assorted Bald Bearded Builder sticker pack</li>
		</ul>

		<h3>Fourth Place</h3>

		<p>All prizes included in fifth place, plus:</p>
		
		<ul>
			<li>"Oh Geez! What the heck!?" BBB Rubber Duck Mug, 15oz</li>
		</ul>

		<h3>Third Place</h3>

		<p>All prizes included in fourth place, plus:</p>
		
		<ul>
			<li>Balsam & Cedar Beeswax and Soy Candle, 13oz</li>
		</ul>
		
		<h3>Second Place</h3>

		<p>All prizes included in third place, plus:</p>
		
		<ul>
			<li>"git commit -m 'mistakes were made'" T-shirt</li>
		</ul>
		
		<h3>First Place</h3>

		<p>All prizes included in second place, plus:</p>
		
		<ul>
			<li>Surface Laptop Copilot+PC, 13.8 inch, Snapdragon&reg; X Plus (10 Core), Platinum, 16GB RAM, 512GB SSD</li>
		</ul>

		<p>
			The use of specific brands as prizes by Bald Bearded Builder, LLC does not
			imply any affiliation with or endorsement of such brands.
		</p>

		<p>
			The prize is non-transferable and non-exchangeable, and no cash
			alternatives will be provided.
		</p>

		<p>
			We reserve the right to substitute prizes of equal or greater value if
			circumstances beyond our control require doing so.
		</p>

		<p>
			Bald Bearded Builder, LLC's decision on any aspect of the competition is
			final and binding, and no correspondence will be entered into about it.
		</p>

		<h2>Winner Announcement</h2>

		<p>
			Entrants will be ranked based on the total number of gifted subscriptions 
			to the Bald Bearded Builder Twitch channel during the competition period.
		</p>
		
		<p>
			The top five entrants will be awarded the prizes listed above in the order
			of their ranking. In the event of a tie, the entrant who gifted the most
			subscriptions first will be awarded the higher ranking.
		</p>

		<p>
			The winners of the competition will be officially announced on the Bald
			Bearded Builder Twitch channel and website within 14 days of the
			competition end on December 19th, 2024.
		</p>

		<p>
			In the event of any issues delivering prizes to a winner, Bald Bearded
			Builder, LLC will make two attempts to contact the winner via email.
		</p>

		<p>
			If the winner does not respond to the emails within 14 days of the second
			email, they forfeit their right to the prize, and Bald Bearded Builder,
			LLC reserves the right to select and notify a new winner.
		</p>

		<h2>Delivery of the Prizes</h2>

		<p>
			The winner will allow 14 days for the prize to be delivered; otherwise,
			alternative collection or delivery arrangements can be made through mutual
			agreement.
		</p>

		<h2>Data Protection and Publicity</h2>

		<p>
			You agree that any personal information that you provide when entering the
			competition will be used by Bald Bearded Builder, LLC for the purposes of
			administering the competition.
		</p>

		<p>
			Entrants agree to permit their Twitch username and total number of Twitch
			subscriptions gifted to the viewers of the Bald Bearded Builder Twitch
			channel during the competition to be shared on Bald Bearded Builder, LLC's
			website and social media channels.
		</p>

		<h2>Limitation of Liability</h2>

		<p>
			Bald Bearded Builder, LLC accepts no liability for any damage, loss,
			injury, or disappointment suffered by entrants as a result of
			participating in the competition or being awarded a prize.
		</p>

		<h2>General</h2>

		<p>
			Bald Bearded Builder, LLC reserves the right, at any time and without
			prior notice, to cancel the competition or amend these terms and
			conditions.
		</p>
		
	</body>

</html>

<style>

body {
	margin: 2rem;
	font-family: Arial, sans-serif;
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2rem;
}
h1, h2 {
	margin-top: 2rem;
	margin-bottom: 1rem;
}
p {
	font-size: 1.1rem;
	line-height: 1.4;
	margin: 1rem 0;
}
li {
	margin: 0.5rem 0;
}

</style>
