---
import ArticleLayout from "@layouts/article.astro";
---

<ArticleLayout>
  <div class="container">
    <header>
      <h1>Building a Discord Bot to Improve Inclusive Language</h1>
    </header>
    <article class="toc">
      <main>
        <blockquote>
          So I built a workflow that allows people to call and leave me a
          message that will automatically be transcribed and emailed to me. This
          tutorial will show you how to build the same workflow using
          <a href="#">Twilio Studio</a>, Pipedream, and Deepgram.
        </blockquote>

        <p>
          Personalized short URLs look so cool. Sure, I could use a service like
          Bitly. They even provide the ability to use your domain. But I love
          building things, even when I don't need to. It allows me to explore
          and learn new things.
        </p>

        <h2>Heading 2</h2>

        <p>
          Personalized short URLs look so cool. Sure, I could use a service like
          Bitly. They even provide the <code>ability</code> to use your domain.
          But I love building things, even when I don't need to. It allows me to
          explore and learn new things.
        </p>

        <ul>
          <li>
            A Twilio account. Sign up for a free account
            <a href="#">here.</a>
          </li>
          <li>
            A Twilio phone number. You can get one <a href="#">here.</a>
          </li>
          <li>
            A Pipedream account. Sign up for a free account
            <a href="#">here.</a>
          </li>
        </ul>

        <h3>Heading 3</h3>

        <p>
          Personalized short URLs look so cool. Sure, I could use a service like
          Bitly. They <code>even provide</code> the ability to use your domain.
          But I love building things, even when I don't need to. It allows me to
          explore and learn new things.
        </p>

        <table>
          <thead>
            <tr>
              <th>Header 1</th>
              <th>Header 2</th>
              <th>Header 3</th>
              <th>Header 4</th>
              <th>Header 5</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Normal cell</td>
              <td>Normal cell</td>
              <td>Normal cell</td>
              <td>Normal cell</td>
              <td>Normal cell</td>
            </tr>
            <tr>
              <td>Normal cell</td>
              <td>Normal cell</td>
              <td>Normal cell</td>
              <td>Normal cell</td>
              <td>Normal cell</td>
            </tr>
            <tr>
              <td>Normal cell</td>
              <td>Normal cell</td>
              <td>Normal cell</td>
              <td>Normal cell</td>
              <td>Normal cell</td>
            </tr>
            <tr>
              <td>Normal cell</td>
              <td>Normal cell</td>
              <td>Normal cell</td>
              <td>Normal cell</td>
              <td>Normal cell</td>
            </tr>
            <tr>
              <td>Normal cell</td>
              <td>Normal cell</td>
              <td>Normal cell</td>
              <td>Normal cell</td>
              <td>Normal cell</td>
            </tr>
          </tbody>
        </table>

        <h4>Heading 4</h4>

        <p>
          Personalized short URLs look so cool. Sure, I could use a service like
          Bitly. They even provide the ability to use your domain. But I love
          building things, even when I don't need to. It allows me to explore
          and learn new things.
        </p>

        <h5>Heading 5</h5>

        <p>
          Personalized short URLs look so cool. Sure, I could use a service like
          Bitly. They even provide the <code>ability</code> to use your domain.
          But I love building things, even when I don't need to. It allows me to
          explore and learn new things.
        </p>

        <h6>Heading 6</h6>

        <p>
          Personalized short URLs look so cool. Sure, I could use a service like
          Bitly. They even provide the ability to use your domain. But I love
          building things, even when I don't need to. It allows me to explore
          and learn new things.
        </p>
      </main>
      <aside>
        <nav aria-label="Table of Contents" class="toc">
          <ul>
            <li class="link--level2"><a href="#">How It Works</a></li>
            <li class="link--level2"><a href="#">Prerequisites</a></li>
            <li class="link--level3 link--active">
              <a href="#">Creating a Twilio Studio Flow</a>
            </li>
            <li class="link--level3">
              <a href="#">Configuring Your Twilio Phone Number</a>
            </li>
            <li class="link--level2"><a href="#">Conclusion</a></li>
            <li></li>
          </ul>
        </nav>
        <section class="related">
          <h3>Related Articles</h3>
          <ul>
            <li>
              <a href="#">Using Polywork to Break My Unconscious Biases</a>
            </li>
            <li>
              <a href="#"
                >Updating Notion Cover Images with Pipedream and JavaScript</a>
            </li>
          </ul>
        </section>
      </aside>
    </article>
  </div>
</ArticleLayout>

<style>
  article {
    padding: 0 2rem;
  }
</style>
