---

---

<form
  name="brain-dump"
  method="post"
  action="/brain-dump/thanks/"
  data-netlify="true"
  data-netlify-honeypot="bot-field"
>
  <input type="hidden" name="form-name" value="brain-dump" />
  <p hidden>
    <label> Don't fill this out: <input name="bot-field" /></label>
  </p>

  <p>
    <label for="firstName">Your First Name</label><br />
    <input
      id="firstName"
      type="text"
      name="firstName"
      placeholder="Dwight"
      class="strobe"
      required
    />
  </p>
  <p>
    <label for="email">Your Email</label><br />
    <input
      id="email"
      type="text"
      name="email"
      placeholder="dschrutt@dundermifflin.com"
      class="strobe"
      required
    />
  </p>
  <p>
    <button type="submit">Subscribe</button>
  </p>
</form>
