---
import Mike from "./Mike";
---

<section>
  <div>
    <p>
      Let's learn together with the Brain Dump newsletter! Each week, Michael
      curates the latest news, gadgets, and productivity hacks he finds and
      sends it to you every Monday morning, along with the latest content
      created by members of the Build with Me community.
    </p>
    <p class="small">
      You can unsubscribe at any time and I will never sell your information to
      others.
    </p>

    <form
      name="brain-dump"
      method="post"
      action="/brain-dump/thanks/"
      data-netlify="true"
      data-netlify-honeypot="bot-field"
    >
      <input type="hidden" name="form-name" value="brain-dump" />
      <p hidden>
        <label> Don't fill this out: <input name="bot-field" /></label>
      </p>

      <p>
        <label for="firstName">Your First Name</label><br />
        <input
          id="firstName"
          type="text"
          name="firstName"
          placeholder="Dwight"
          class="strobe"
          required
        />
      </p>
      <p>
        <label for="email">Your Email</label><br />
        <input
          id="email"
          type="text"
          name="email"
          placeholder="dschrutt@dundermifflin.com"
          class="strobe"
          required
        />
      </p>
      <p>
        <button type="submit">Subscribe</button>
      </p>
    </form>
  </div>

  <Mike client:only />
</section>

<style>
  section {
    @apply flex;
  }
  .small {
    @apply text-sm text-zinc-500 italic;
  }

  form {
    @apply mt-12;
  }

  @media screen and (min-width: 768px) {
    .brainDump {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
    .brainDump div:first-child {
      margin-left: 5rem;
    }
    .brainDump > img {
      display: block;
    }
  }
</style>
