---
---

<section id="braindump">
  <div class="wrapper">
    <div>
      <h2>Brain <span class="text-gradient">Dump</span></h2>
      --BRAINDUMP_STATUS--
    </div>
    <img
      alt="AI generated image of a neon human brain with digital lights dripping off it."
      src="https://res.cloudinary.com/dk3rdh3yo/image/upload/dpr_auto,f_auto/v1687805654/website-assets/brain.png"
      sizes="100vw"
      height="355"
      width="532"
      loading="lazy"
      />
  </div>
</section>

<style lang="scss">
  .wrapper {
    @apply flex flex-col-reverse md:grid md:grid-cols-2 gap-8 md:gap-6 items-center;
    @apply px-8;
    @apply my-12;
  }
</style>
