---
import BrainDumpForm from "./BrainDumpForm.astro";
import Mike from "./Mike";
---

<section>
  <div>
    <p>
      Let's learn together with the Brain Dump newsletter! Each week, Michael
      curates the latest news, gadgets, and productivity hacks he finds and
      sends it to you every Monday morning, along with the latest content
      created by members of the Build with Me community.
    </p>
    <p class="small">
      You can unsubscribe at any time and I will never sell your information to
      others.
    </p>

    <BrainDumpForm />
  </div>
  <div>
    <Mike client:only />
  </div>
</section>

<style>
  section {
    @apply flex flex-col-reverse mt-0;
    @apply lg:grid lg:grid-cols-2;
    grid-template-columns: 50% 1fr;
  }
  section div:nth-child(2) {
    @apply hidden lg:flex;
    @apply lg:justify-center lg:items-center;
  }
  .small {
    @apply text-sm text-zinc-500 italic;
  }
</style>
