---
import BrainDumpForm from "./BrainDumpForm.astro";
import Icon from "./Icon.astro";
---

<section>
  <div class="container">
    <div class="panel">
      <div>
        <h2 class="center">Brain Dump</h2>
        <p>
          Want to hear all the latest news, gadgets, and productivity hacks that
          Michael finds each week? Every Monday, the Brain Dump newsletter is
          sent with all that, plus the latest content created by members of the
          Build with Me community.
        </p>
        <p>
          <a href="/brain-dump/"
            ><Icon icon="ChevronRight" style="height:1rem;" /> Read past
            editions</a
          >
        </p>
      </div>
      <BrainDumpForm />
    </div>
  </div>
</section>

<style>
  .container {
    @apply py-8 md:py-6;
    @apply px-8 md:px-0;
  }
  .panel {
    @apply flex flex-col lg:grid lg:grid-cols-2 gap-8;
    @apply p-8;
    @apply rounded-lg;
    @apply border border-zinc-800;
    @apply bg-darken;
  }

  h2 {
    @apply font-kanit font-semibold text-white;
    @apply text-3xl md:text-4xl;
    @apply pb-4 md:pb-6;
  }
  p {
    @apply text-base text-zinc-400;
    @apply mb-4;
  }
  a {
    @apply text-neon;
    @apply flex items-center;
  }
  svg {
    @apply mr-2;
  }
</style>
