---
import Icon from './Icon.astro';
---

<section>
  <div class="container">
    <div class="col">
      <div></div>
      <div>
        <h2 class="center">Build with Me</h2>
        <p>
          With regular discussions around software development, hardware, IoT
          projects, 3D printing, and wood working, the Build with Me community
          Discord is a place for developers, makers, & builders to gather to
          learn and share. Want to engage with other developers/makers/builders?
        </p>
        <p>
          <a href="https://discord.gg/kC8HTrs59R" rel="me" target="_blank">
            <Icon icon="Discord" style="height:1.25rem;" class="icon" />
             Join the Build with Me Discord
          </a>
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  [data-theme='light'] {
    --flip-filter: invert(1) hue-rotate(180deg);
  }

  [data-theme='dark'] {
    --flip-filter: invert(0) contrast(85%) hue-rotate(0deg);
  }

  section {
    padding: 4rem 0;
    background-color: var(--glass);
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
  }

  .col div:first-child {
    display: none;

    background: var(--gradient);
    -webkit-mask-image: url('https://res.cloudinary.com/dk3rdh3yo/image/upload/v1693010375/website-assets/build-border.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    -webkit-mask-size: contain;
    mask-image: url('https://res.cloudinary.com/dk3rdh3yo/image/upload/v1693010375/website-assets/build-border.svg');
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
  }

  a {
    display: inline-flex;
    align-items: center;
    color: var(--purple);
    text-decoration: none;
  }
  a svg {
    width: unset;
    margin-right: 1rem;
  }

  h2 {
    font-family: var(--syne);
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 4rem;
  }

  @media screen and (min-width: 768px) {
    .col {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .col div:first-child {
      display: flex;
      width: 100%;
      height: 8rem;
    }
  }
  @media screen and (min-width: 1280px) {
    .col div:not(:first-child) {
      width: 75%;
    }
  }
</style>
