---
import type { CollectionEntry } from 'astro:content'
interface Props {
  class?: string
  event: CollectionEntry<'event'>
}
const { class: classes, event } = Astro.props
---

<div class={classes}>
  <aside>
    {event.data.location}
  </aside>
  <h4>{event.data.name}</h4>
</div>

<style lang="scss">
  div {
    @apply flex flex-col;
    @apply p-4;
    @apply h-full;

    aside {
      @apply flex flex-row;
      @apply text-gray-400;
      @apply text-xs lowercase;
    }

    h4 {
      @apply text-xl text-gray-100;
    }
  }
</style>
