---
import BlogCard from "./Cards/BlogCard.astro";
import VideoCard from "./Cards/VideoCard.astro";
import { getCollection } from "astro:content";

const latestPost = (
  await getCollection(
    "blog",
    ({ data }) =>
      data.featured &&
      (import.meta.env.NODE_ENV !== "production" || data.pubDate <= new Date())
  )
)
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
  .slice(0, 1)[0];
const latestVideo = (
  await getCollection(
    "videos",
    ({ data }) =>
      import.meta.env.NODE_ENV !== "production" || data.date <= new Date()
  )
)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 1)[0];
---

<section>
  <div class="container">
    <ul>
      <BlogCard post={latestPost} />
      <VideoCard video={latestVideo} />
    </ul>
  </div>
</section>

<style>
  section {
    @apply px-8 lg:px-0;
    @apply my-12 sm:my-0 sm:mb-4;
  }
  ul {
    @apply grid gap-8 list-none;
    @apply grid-cols-1 lg:grid-cols-2;
  }
</style>
