---

---

<nav>
  <section>
    <p>About</p>
    <uL>
      <li>
        <a href="/">Home</a>
      </li>
      <!-- <li>
        <a href="/work-with-me/">Work With Me</a>
      </li> -->
      <li>
        <a href="/uses/">What I Use</a>
      </li>
    </uL>
  </section>
  <section>
    <p>Content</p>
    <uL>
      <li>
        <a href="https://youtube.com/c/baldbeardedbuilder">Videos</a>
      </li>
      <li>
        <a href="https://twitch.tv/baldbeardedbuilder">Live Streams</a>
      </li>
      <li>
        <a href="/blog/">Blog</a>
      </li>
    </uL>
  </section>
  <section>
    <p>Community</p>
    <uL>
      <li>
        <a href="/brain-dump/">Brain Dump</a>
      </li>
      <li>
        <a href="https://discord.gg/kC8HTrs59R">Build With Me</a>
      </li>
      <li>
        <a href="/code-of-conduct/">Code of Conduct</a>
      </li>
    </uL>
  </section>
</nav>

<style>
  nav {
    @apply grid gap-8 justify-between;
    grid-template-columns: repeat(3, 1fr);
  }
  section {
    @apply flex flex-col gap-2;
  }
  p {
    @apply font-kanit font-semibold text-white;
    @apply p-0 m-0;
  }
  ul {
    @apply flex flex-col gap-4;
    @apply list-none;
    @apply p-0 m-0;
    @apply mt-4;
  }
  a {
    @apply text-zinc-400 hover:text-neon;
    @apply no-underline;
  }
</style>
