---
import FooterNavigation from "./FooterNavigation.astro";
import FooterSocials from "./FooterSocials.astro";
---

<footer>
  <div class="container">
    <FooterNavigation />
    <FooterSocials />
  </div>
</footer>

<style>
  footer {
    @apply p-6;
    @apply mt-24 mb-12;
  }
  .container {
    @apply text-fadedGray;
    @apply flex flex-col md:flex-row md:justify-between gap-12;
  }
</style>
