---
import FooterNavigation from "./FooterNavigation.astro";
import FooterSocials from "./FooterSocials.astro";
---

<footer class="glass">
  <div class="container">
		<FooterNavigation/>
    <FooterSocials />
  </div>
</footer>

<style>
  footer {
		padding: 4rem 1.5rem;
		margin-top: 6rem;
		border: 0;
  }
  .container {
		display: flex;
		flex-direction: column;
		gap: 3rem;
  }
		
	@media (min-width:768px) {
		.container {
			flex-direction: row;
			justify-content: space-between;
		}
	}
</style>
