---

---

<nav>
  <section>
    <uL>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/uses/">What I Use</a>
      </li>
    </uL>
  </section>
  <section>
    <uL>
      <li>
        <a href="https://youtube.com/c/baldbeardedbuilder">Videos</a>
      </li>
      <li>
        <a href="/blog/">Blog</a>
      </li>
      <li>
        <a href="https://twitch.tv/baldbeardedbuilder">Live Streams</a>
      </li>
    </uL>
  </section>
  <section>
    <uL>
      <li>
        <a href="/brain-dump/">Brain Dump</a>
      </li>
      <li>
        <a href="https://discord.gg/kC8HTrs59R">Build With Me</a>
      </li>
    </uL>
  </section>
</nav>

<style>
  nav {
		display: grid;
		gap: 2rem;
		justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
  }
  section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
  }
  p {
		font-weight: bold;
		padding: 0;
		margin: 0;
		font-size: 0.8rem;
  }
  ul {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 0;
		margin: 0;
		margin-top: 1rem;
		list-style: none;
		font-size: 0.9rem;
  }
  a {
		text-decoration: none;
		color: var(--light-text);
  }
	a:hover {
		color: var(--nav-link-hover);
	}
</style>
