---
import FooterNavigation from './FooterNavigation.astro'
import Socials from './Socials.astro'
---

<footer>
    <div class="container">
        <section>
            <FooterNavigation />
            <p>&copy; 2023 Bald Bearded Builder</p>
        </section>
        <section>
            <Socials/>
        </section>
    </div>
</footer>

<style>
:global([data-theme="light"]) {
   --footer-color: var(--dark);
}

:global([data-theme="dark"]) {
   --footer-color: var(--light);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: url('https://res.cloudinary.com/dk3rdh3yo/image/upload/v1692506116/website-assets/footer.png') center bottom no-repeat;
    background-size: cover;
    color: var(--footer-color);
}

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

p {
    font-size: 0.75rem;
}

</style>