---
import Socials from '@components/Socials.astro';
---

<aside>
	<div>
		<div>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/uses/">What I Use</a></li>
			</ul>
			<ul>
				<li><a href="/blog/">All Blog Posts</a></li>
				<li><a href="/brain-dump/">Brain Dump Archive</a></li>
			</ul>
		</div>
		<Socials/>
	</div>
</aside>

<style>
	aside {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding: 2rem;
		justify-content: center;
		align-items: center;
	}
	aside > div {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
	div > div {
		display: flex;
		flex-direction: row;
		gap: 2rem;
	}
	li {
		margin-top: 1rem;
	}
	a {
		font-size: 0.9rem;
	}
</style>
