---
import Icon from "./Icon.astro";
---

<div>
  <ul>
    <li>
      <a
        href="https://twitter.com/michaeljolley"
        rel="me"
        target="_blank"
        class="optout"
        title="Follow the musings on Twitter"
      >
        <Icon icon="Twitter" style="height:1rem;" class="icon" />
      </a>
    </li>
    <li>
      <a
        href="https://youtube.com/baldbeardedbuilder"
        rel="me"
        target="_blank"
        class="optout"
        title="Subscribe, like & comment on YouTube videos"
      >
        <Icon icon="YouTube" style="height:1rem;" class="icon" />
      </a>
    </li>
    <li>
      <a
        href="https://twitch.tv/baldbeardedbuilder"
        rel="me"
        target="_blank"
        class="optout"
        title="Check out the live streams on Twitch"
      >
        <Icon icon="Twitch" style="height:1rem;" class="icon" />
      </a>
    </li>
    <li>
      <a
        href="https://linkedin.com/in/michaelwjolley"
        rel="me"
        target="_blank"
        class="optout"
        title="Let's get professional"
      >
        <Icon icon="LinkedIn" style="height:1rem;" class="icon" />
      </a>
    </li>
    <li>
      <a
        href="https://github.com/michaeljolley"
        rel="me"
        target="_blank"
        class="optout"
        title="Yeah. I write code."
      >
        <Icon icon="GitHub" style="height:1rem;" class="icon" />
      </a>
    </li>
    <li>
      <a
        href="https://discord.gg/kC8HTrs59R"
        rel="me"
        target="_blank"
        class="optout"
        title="Join the conversation on Discord"
      >
        <Icon icon="Discord" style="height:1rem;" class="icon" />
      </a>
    </li>
  </ul>
</div>
<style>
  div {
    @apply flex items-end;
  }
  ul {
    @apply flex gap-8 list-none m-0;
  }
  .icon {
    @apply text-zinc-400 fill-zinc-400;
  }
  .icon:hover,
  .icon:active {
    @apply text-neon fill-neon;
  }
</style>
