---
import Navigation from "./Navigation.astro";
---

<header>
  <div class="container">
    <div>
			<Navigation/>
		</div>
  </div>
</header>

<style>
  .container {
		display: flex;
		justify-content: flex-end;
  }
	
	.container div {
		padding: 0 1rem;
		display: flex;
		justify-content: flex-end;
	}

</style>
