---
import Navigation from "./Navigation.astro";
---

<header>
  <div class="container">
    <Navigation/>
  </div>
</header>

<style>
  .container {
		display: flex;
		justify-content: flex-end;
  }
	
	@media (min-width:768px) /* md */ {
		.container {
			justify-content: space-between;
		}
	}
</style>
