---
import Navigation from "./Navigation.astro";
import Socials from "./Socials.astro";
---

<header>
  <div class="container">
    <Socials />
    <Navigation />
  </div>
</header>

<style>
  .container {
    @apply flex justify-end md:justify-between;
    @apply py-8 md:py-6;
  }
</style>