---
import Mast from "./Mast.astro";

const image = "https://res.cloudinary.com/dk3rdh3yo/image/upload/c_scale,f_auto,e_grayscale,o_20/v1687460581/website-assets/mast-bbb.png";
---

<Mast {image}>
	<h1 style="margin-top: 5rem;">Hi! I'm <span>Michael</span>.</h1>
	<p>A developer who likes to learn & share.</p>
</Mast>
