---
---

<section>
  <div class="wrapper">
    <img
      alt="AI generated computers with creative content on their screens."
      src="https://res.cloudinary.com/dk3rdh3yo/image/upload/dpr_auto,f_auto/v1687460969/website-assets/computers.png"
      sizes="100vw"
      width="520"
      height="347"
      loading="lazy"
      />
    <div>
      <h2>Hi. I'm <span>Michael</span>.</h2>
      <p>Also known as the Bald Bearded Builder.</p>
      <p>
        I craft content experiences that help developers build better software.
        When I'm not in front of the computer, I'm hanging with the family,
        playing music, or video games.
      </p>
    </div>
  </div>
</section>

<style>
  section {
    @apply flex flex-row items-center;
    @apply mb-8;

    .wrapper {
      @apply grid grid-cols-1 sm:grid-cols-2 gap-12;

      img {
        @apply hidden sm:block;
      }

      div {
        @apply flex flex-col justify-center;

        h2 {
          @apply text-gray-100;
          @apply text-4xl;

          span {
            @apply text-gradient;
          }
        }
      }
    }
  }
</style>
