---
import { getCollection } from "astro:content";
import Card from "./Card.astro";

let posts = await getCollection("blog",({ data }) => data.pubDate <= new Date());
posts = posts.sort((a, b) => 
			new Date(a.data.pubDate) < new Date(b.data.pubDate))
			.splice(0, 8);
---

<section>
	<div class="container">
		{posts.map((post) => <Card {post} class="card"/>)}
	</div>
</section>

<style>
	section {
		margin: 3rem 0;
		padding: 0 2rem;
	}

	.container {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1.5rem;
	}

	@media (min-width:640px) /* sm */ {
		.container {
			grid-template-columns: 1fr 1fr;
		}
	}

	@media (min-width:768px) /* md */ {
		.container {
			grid-template-columns: 1fr 1fr;
		}
	}

	@media (min-width:1024px) /* lg */ {
		.container {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	@media (min-width:1280px) /* xl */ {
		.container {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
	}
</style>
