---
import { getCollection, type CollectionEntry } from 'astro:content';
import BlogCard from '@components/Cards/BlogCard.astro';

let blogPosts = await getCollection('blog', ({ data }) => data.featured);
blogPosts = blogPosts.sort(
  (a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) =>
    a.data.featured! - b.data.featured!
);
---

<section>
  <div class="container">
    <h2 class="center">Latest Posts</h2>
    <ul>
      {blogPosts.map((post) => <BlogCard {post} />)}
    </ul>
  </div>
</section>

<style>
  .container {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }

  h2 {
    font-family: var(--syne);
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 4rem;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    margin: 0;
    padding: 0 2rem;
  }

  @media screen and (min-width: 768px) {
    ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
