---

---

<section>
  <div class="container">
    <div>
      <h1>
        I make content<br />
         that <span>educates</span><br />
         and <span>entertains</span>.
      </h1>
    </div>
    <div>
      <img style="width:100%" src="https://res.cloudinary.com/dk3rdh3yo/image/upload/e_grayscale,f_auto/v1687460581/website-assets/mast-bbb.png" alt="Michael, with three arms. One pointing to his bald head, one pointing to his beard, and the last holding a mechanical keyboard."/>
    </div>
  </div>
</section>

<style>
  .container {
    display: flex;
    margin-top: 3rem;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  div:not(:first-child) {
    display: none;
    align-items: flex-end;
  }

  h1 {
    font-family: var(--syne);
    color: var(--text);
    font-size: 3rem;
    text-align: center;
    white-space: nowrap;
  }
  h1 span {
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media screen and (min-width: 768px) {
    /* lg */
    .container {
      display: grid;
      grid-template-columns: 50% 50%;
    }
    div:not(:first-child) {
      display: flex;
    }
  }
  @media screen and (min-width: 1280px) {
    /* xl */
    .container {
    }
  }
  @media screen and (min-width: 1536px) {
    /* 2xl */
    .container {
    }
  }
</style>
