---

---

<section>
  <div class="container">
    <div>
      <h1>
        I make content<br />
         that <span>educates</span><br />
         and <span>entertains</span>.
      </h1>
    </div>
    <div></div>
  </div>
</section>

<style>
  .container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: rem;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  div:not(:first-child) {
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
    background-size: contain;
    background-image: url('https://res.cloudinary.com/dk3rdh3yo/image/upload/v1687460581/website-assets/mast-bbb.png');
  }

  h1 {
    font-family: var(--syne);
    color: var(--text);
    font-size: 3rem;
  }
  h1 span {
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media screen and (min-width: 768px) {
    /* lg */
    .container {
    }
  }
  @media screen and (min-width: 1280px) {
    /* xl */
    .container {
    }
  }
  @media screen and (min-width: 1536px) {
    /* 2xl */
    .container {
    }
  }
</style>
