---
---

<section>
  <div class="wrapper">
    <div>
      <h1>Stuff I Use</h1>
      <p>
        I get asked about the stuff I use on a regular basis. To make it
          easier to share with others, I try to keep the lists below up-to-date.
          Something missing? Hit me up and let me know.
      </p>
    </div>
    <img
      aria-hidden="true"
      alt="AI generated image of a neon robot in front of a crowded room of people"
      src="https://res.cloudinary.com/dk3rdh3yo/image/upload/dpr_auto,f_auto/v1688515171/website-assets/ograph/neon_gears_vpcc15.png"
      sizes="100vw"
      height="355"
      width="532"
      />
  </div>
</section>

<style lang="scss">
  section {
    @apply pt-32 sm:pt-40;

    .wrapper {
      @apply flex flex-col-reverse md:grid md:grid-cols-2 gap-8 md:gap-6 items-center;
      @apply px-8;

      h1 {
        @apply mb-8;
        @apply flex text-center;
      }
      img {
        @apply w-full;
      }
    }
  }
</style>
