---
import Mike from "./Mike";
---

<section>
  <div class="container">
    <div>
      <Mike client:only />
    </div>
    <div>
      <h1>
        I make content<br />
         that educates<br />
         and entertains.
      </h1>
    </div>
  </div>
</section>

<style>
  .container {
    @apply flex flex-col gap-3 sm:flex-row;
    @apply justify-center items-center;
  }
  .container div {
    @apply flex flex-col justify-center items-center;
    @apply w-full h-full;
  }

  h1 {
    @apply font-kanit font-semibold text-5xl lg:text-6xl;
    @apply whitespace-nowrap text-center sm:text-left;
  }
</style>
