---

---

<section>
  <div class="container">
    <div>
      <img
        src="https://res.cloudinary.com/dk3rdh3yo/image/upload/e_grayscale,f_auto/v1687460581/website-assets/mast-bbb.png"
        alt="Michael, with three arms. One pointing to his bald head, one pointing to his beard, and the last holding a mechanical keyboard."
      />
    </div>
    <div>
      <h1>
        I make content<br />
         that <span>educates</span><br />
         and <span>entertains</span>.
      </h1>
    </div>
  </div>
</section>

<style>
  .container {
    @apply flex flex-col gap-3 sm:flex-row;
    @apply justify-center items-center;
  }
  .container div {
    @apply flex flex-col justify-center items-center;
    @apply w-full h-full;
  }

  img {
    @apply border-none;
    @apply mix-blend-luminosity;
    width: unset;
    margin: unset;
    padding: unset;
  }

  h1 {
    @apply font-kanit font-semibold;
    @apply whitespace-nowrap text-center sm:text-left;
    @apply text-zinc-400;

    background: linear-gradient(
      to bottom,
      rgba(148, 148, 148, 1) 0%,
      rgba(148, 148, 148, 0.2)
    );
    -webkit-background-clip: text;
    @apply bg-clip-text;
    -webkit-text-fill-color: transparent;
    @apply text-transparent;
  }
  h1 > span {
    background: unset;
    -webkit-background-clip: unset;
    background-clip: unset;
    -webkit-text-fill-color: rgb(103 229 101 / var(--tw-text-opacity));
    text-fill-color: rgb(103 229 101 / var(--tw-text-opacity));
    @apply text-neon;
    text-shadow: rgba(103, 229, 101, 0.3) 0px 0px 10px;
    animation: glow 1.5s ease-in-out infinite alternate;
  }
</style>
