---
---

<section>
  <div class="wrapper">
    <h1>
      <span>Community</span>
      <span>Code of Conduct</span>
    </h1>
    <img
      aria-hidden="true"
      alt="AI generated image of a neon robot with words coming from its mouth"
      src="https://res.cloudinary.com/dk3rdh3yo/image/upload/dpr_auto,f_auto/v1689271118/website-assets/two_neon_robots_holding_hands_te9zic.png"
      sizes="100vw"
      height="355"
      width="532"/>
  </div>
</section>

<style lang="scss">
  section {
    @apply pt-32 sm:pt-40;

    .wrapper {
      @apply flex flex-col justify-center items-center;
      @apply px-8;

      h1 {
        @apply flex flex-col justify-center items-center;
        @apply w-2/3;
        @apply mb-8;
        @apply flex text-center;

        span {
          @apply block;
          @apply whitespace-nowrap;
          @apply m-0 p-0;
        }
      }

      img {
        @apply w-3/5 sm:w-1/2 md:w-2/5;
        @apply lg:max-w-md;
      }
    }
  }
</style>
