---
export interface Props {
	image: string | undefined;
}

const { image } = Astro.props;
const bgImg = `url(${image})`;
---

<section class="container mast">
  <slot/>
</section>

<style define:vars={{ bgImg }}>
	section {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-image: var(--bgImg);
		background-repeat: no-repeat;
		background-position: bottom center;
		background-size: contain;
		height: 14rem;
		margin-top: 3rem;
		background-color: var(--bg);
		background-blend-mode: exclusion;
	}
	
	@media (min-width:768px) /* md */ {
		section {
			height: 20rem;
		}
	}
	</style>
	