---
---

<section>
  <div class="wrapper">
    <div>
      <h1>Want Me To Talk?</h1>
      <p>
        While I don't travel to speak very often, I am available for select
        events. I normally speak on soft-skill and DevOps topics focused on
        improving developer productivity.
      </p>
      <p>
        Interested in having me speak at your event? Reach out and let's chat!
      </p>
    </div>
    <img
      aria-hidden="true"
      alt="AI generated image of a neon robot in front of a crowded room of people"
      src="https://res.cloudinary.com/dk3rdh3yo/image/upload/dpr_auto,f_auto/v1688596966/website-assets/neon_robot_in_front_of_a_crowded_room_of_people_mb3uhg.png"
      sizes="100vw"
      height="355"
      width="532"
      />
  </div>
</section>

<style lang="scss">
  section {
    @apply pt-32 sm:pt-40;

    .wrapper {
      @apply flex flex-col-reverse md:grid md:grid-cols-2 gap-8 md:gap-6 items-center;
      @apply px-8;

      h1 {
        @apply mb-8;
        @apply flex text-center;
      }
      img {
        @apply w-full;
      }
    }
  }
</style>
