---
import Activity from './Activity.astro'
import Icon from './Icon.astro'
---

<nav>
  <ul>
    <li>
      <a href="/" aria-label="Return home"
        ><Icon icon="BBB" style="width:1.25rem;" class="icon" /></a
      >
    </li>
    <li>
      <a href="/blog/">Blog</a>
    </li>
    <li>
      <a href="/speaking/">Speaking</a>
    </li>
    <!-- <li>
      <a href="/work-with-me/">Work with Me</a>
    </li> -->
    <li>
      <Activity />
    </li>
  </ul>
</nav>
