---
import ModeToggle from "@components/ModeToggle.astro";

---

<nav>
	<div class="wrapper">
		<ModeToggle />
	</div>
</nav>

<style>
	nav {
		margin-top: 1.5rem;
	}
	.wrapper {
		display: flex;
		justify-content: flex-end;
	}
</style>
