---
import LogoSpinnerBottom from '@components/LogoSpinnerBottom.astro';
---

<div class="outro">
	Michael Jolley
	<LogoSpinnerBottom/>
</div>

<style>
	.outro {
		padding-top: 8rem;
		font-family: var(--font-anton);
		font-size: 4rem;
		text-transform: uppercase;
		color: var(--text);
		text-align: center;
		position: relative;
    display: flex;
		justify-content: center;
	}
	
	@media (min-width: 640px) {
		.outro {
			font-size: 5rem;
		}
	}

	@media (min-width: 768px) {
		.outro {
			font-size: 7rem;
		}
	}

	@media (min-width: 1024px) {
		.outro {
			font-size: 8rem;
		}
	}

	@media (min-width: 1280px) {
		.outro {
			font-size: 8rem;
		}
	}

	@media (min-width: 1536px) {
		.outro {
			font-size: 11rem;
		}
	}
</style>
