---
---

<section>
  <div class="wrapper">
    <ul>
      <li>
        <img
        height="40"
        width="192"
          src="https://res.cloudinary.com/dk3rdh3yo/image/upload/dpr_auto,f_auto/v1687208895/website-assets/logrocket.svg"
          alt="LogRocket"
          loading="lazy"
        />
      </li>
      <li>
        <img
        height="40"
        width="139"
          src="https://res.cloudinary.com/dk3rdh3yo/image/upload/dpr_auto,f_auto/v1687208895/website-assets/azure.svg"
          alt="Microsoft Azure"
          loading="lazy"
        />
      </li>
      <li>
        <img
          height="40"
          width="93"
          src="https://res.cloudinary.com/dk3rdh3yo/image/upload/dpr_auto,f_auto/v1687208895/website-assets/tigris.svg"
          alt="Tigris Data"
          loading="lazy"
        />
      </li>
    </ul>
  </div>
</section>

<style lang="scss">
  section {
    @apply py-4;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.03)
    );
    @apply border-t border-b border-grayBorder;

    > .wrapper > ul {
      @apply flex flex-col sm:flex-row items-center justify-between gap-8;
      @apply p-6;

      > li > img {
        @apply h-10;
      }
    }
  }
</style>
