---

---

<section>
  <div class="container">
    <ul>
      <li>
        <img
          height="58"
          width="200"
          src="https://res.cloudinary.com/dk3rdh3yo/image/upload/dpr_auto,f_auto/v1692669753/website-assets/logos/log-rocket.svg"
          alt="Log Rocket"
          loading="lazy"
        />
      </li>
      <li>
        <img
          height="58"
          width="200"
          src="https://res.cloudinary.com/dk3rdh3yo/image/upload/dpr_auto,f_auto/v1692669753/website-assets/logos/vonage.svg"
          alt="Vonage"
          loading="lazy"
        />
      </li>
      <li>
        <img
          height="58"
          width="200"
          src="https://res.cloudinary.com/dk3rdh3yo/image/upload/dpr_auto,f_auto/v1692669753/website-assets/logos/azure.svg"
          alt="Microsoft Azure"
          loading="lazy"
        />
      </li>
      <li>
        <img
          height="58"
          width="200"
          src="https://res.cloudinary.com/dk3rdh3yo/image/upload/dpr_auto,f_auto/v1692669753/website-assets/logos/deepgram.svg"
          alt="Deepgram"
          loading="lazy"
        />
      </li>
      <li>
        <img
          height="58"
          width="200"
          src="https://res.cloudinary.com/dk3rdh3yo/image/upload/dpr_auto,f_auto/v1692669753/website-assets/logos/tigris.svg"
          alt="Tigris Data"
          loading="lazy"
        />
      </li>
    </ul>
  </div>
</section>

<style>
  section {
    background-color: var(--glass);
    padding: 3rem 0;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    margin: 0;
    padding: 0 1rem;
    list-style: none;
  }

  li:nth-child(1n+3) {
    display: none;
  }

  @media screen and (min-width: 640px) {
    ul {
      flex-direction: row;
    }
  }
  @media screen and (min-width: 768px) {
    /* md */
    li:nth-child(1n+3) {
      display: flex;
    }
    li:nth-child(1n+4) {
      display: none;
    }
  }
  @media screen and (min-width: 1024px) {
    /* lg */
    .container {
      max-width: 1024;
      margin-left: auto;
      margin-right: auto;
    }
    li:nth-child(1n+4) {
      display: flex;
    }
    li:nth-child(1n+5) {
      display: none;
    }
  }
  @media screen and (min-width: 1280px) {
    /* xl */
    body {
      background-position: center -10%;
    }
    .container {
      max-width: 1280px;
    }
    li:nth-child(1n+5) {
      display: flex;
    }
  }
  @media screen and (min-width: 1536px) {
    /* 2xl */
    body {
      background-position: center -15%;
    }
    .container {
      max-width: 1536px;
    }
  }
</style>
