---
---

<section>
    <div class="container">
      <ul>
        <li>
          <img
          height="40"
          width="192"
            src="https://res.cloudinary.com/dk3rdh3yo/image/upload/dpr_auto,f_auto/v1687208895/website-assets/logrocket.svg"
            alt="LogRocket"
            loading="lazy"
          />
        </li>
        <li>
          <img
          height="40"
          width="139"
            src="https://res.cloudinary.com/dk3rdh3yo/image/upload/dpr_auto,f_auto/v1687208895/website-assets/azure.svg"
            alt="Microsoft Azure"
            loading="lazy"
          />
        </li>
        <li>
          <img
            height="40"
            width="93"
            src="https://res.cloudinary.com/dk3rdh3yo/image/upload/dpr_auto,f_auto/v1687208895/website-assets/tigris.svg"
            alt="Tigris Data"
            loading="lazy"
          />
        </li>
        <li>
          <img
            height="40"
            width="93"
            src="https://res.cloudinary.com/dk3rdh3yo/image/upload/dpr_auto,f_auto/v1687208895/website-assets/vonage.svg"
            alt="Vonage"
            loading="lazy"
          />
        </li>
        <li>
          <img
            height="40"
            width="93"
            src="https://res.cloudinary.com/dk3rdh3yo/image/upload/dpr_auto,f_auto/v1687208895/website-assets/deepgram.svg"
            alt="Deepgrams"
            loading="lazy"
          />
        </li>
      </ul>
    </div>
  </section>

<style>
section {
    background-color: var(--glass);
    padding: 3rem 0;
}
ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    height: 2.5rem;
}

@media screen and (min-width: 640px) {
    ul {
        flex-direction: row;
    }
}
</style>
