---
import { getCollection, type CollectionEntry } from "astro:content";
import { getAnalytics } from "../scripts/supabase";

interface Props {
  slug: string | undefined;
  tags: string[];
}

const { slug: postSlug, tags } = Astro.props;

const analytics = await getAnalytics();

const relatedPosts = await getCollection(
  "blog",
  ({ slug, data }: CollectionEntry<"blog">) =>
    data.tags?.some((tag: string) => tags.includes(tag)) && slug !== postSlug
);

if (relatedPosts.length < 3) {
  const topPosts = analytics.sort((a, b) => b.visits - a.visits).slice(0, 5);

  let morePosts = await getCollection(
    "blog",
    ({ slug }: CollectionEntry<"blog">) =>
      relatedPosts
        .map((post: CollectionEntry<"blog">) => post.slug)
        .includes(slug) === false &&
      slug !== postSlug &&
      topPosts
        .map(({ path }) => path.replace("/blog/", "").replace("/", ""))
        .includes(slug)
  );

  relatedPosts.push(
    ...morePosts
      .sort((a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) => {
        const aAnalytic = analytics.find(({ path }) => path === a.slug);
        const bAnalytic = analytics.find(({ path }) => path === b.slug);

        const aVisits = aAnalytic ? aAnalytic.visits : 0;
        const bVisits = bAnalytic ? bAnalytic.visits : 0;

        return bVisits - aVisits;
      })
      .slice(0, 3 - relatedPosts.length)
  );
}
---

{
  relatedPosts.length > 0 && (
    <section class="related">
      <h5>Related Reading</h5>
      <ul>
        {relatedPosts.map((post: CollectionEntry<"blog">) => (
          <li>
            <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
          </li>
        ))}
      </ul>
    </section>
  )
}

<style>
  .related {
    @apply px-4;
    @apply mt-8;
  }
  .related ul {
    @apply flex flex-col p-0 list-none;
  }
  .related li {
    @apply text-sm p-0 py-2 m-0 !important;
    @apply border-l-4 border-transparent;
  }
  .related a {
    @apply p-0 !important;
    @apply text-zinc-500;
    @apply no-underline;
  }
  .related a:hover {
    @apply text-neon !important;
  }
</style>
