<a href="#content">Skip to content</a>

<style lang="scss">
  a {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    heiht: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
</style>
