---
import Icon from './Icon.astro';
---

<ul>
  <li>
    <a
      href="https://twitter.com/michaeljolley"
      rel="me"
      target="_blank"
      class="twitter"
      title="Follow the musings on Twitter"
    >
      <Icon icon="Twitter" style="height:1.25rem;" class="icon" />
    </a>
  </li>
  <li>
    <a
      href="https://youtube.com/baldbeardedbuilder"
      rel="me"
      target="_blank"
      class="youtube"
      title="Subscribe, like & comment on YouTube videos"
    >
      <Icon icon="YouTube" style="height:1.25rem;" class="icon" />
    </a>
  </li>
  <li>
    <a
      href="https://twitch.tv/baldbeardedbuilder"
      rel="me"
      target="_blank"
      class="twitch"
      title="Check out the live streams on Twitch"
    >
      <Icon icon="Twitch" style="height:1.25rem;" class="icon" />
    </a>
  </li>
  <li>
    <a
      href="https://discord.gg/kC8HTrs59R"
      rel="me"
      target="_blank"
      class="discord"
      title="Join the conversation on Discord"
    >
      <Icon icon="Discord" style="height:1.25rem;" class="icon" />
    </a>
  </li>
</ul>

<style>
  :global([data-theme='light']) {
    --socials-link: var(--light);
    --socials-link-hover: var(--pink);
  }

  :global([data-theme='dark']) {
    --socials-link: var(--light);
    --socials-link-hover: var(--green);
  }

  ul {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li:not(:last-child) {
    margin-right: 1rem;
  }

  .icon {
    color: var(--socials-link);
    fill: var(--socials-link);
  }

  .icon:hover,
  .icon:active {
    color: var(--socials-link-hover);
    fill: var(--socials-link-hover);
  }

  @media screen and (min-width: 640px) {
    ul {
      display: flex;
      gap: 1rem;
    }
  }
</style>
