---
import Icon from './Icon.astro';
---

<ul>
  <li>
    <a
      href="https://twitter.com/michaeljolley"
      rel="me"
      target="_blank"
      title="Follow the musings on Twitter"
    >
      <Icon icon="Twitter" style="height:1.25rem;"  />
    </a>
  </li>
  <li>
    <a
      href="https://youtube.com/baldbeardedbuilder"
      rel="me"
      target="_blank"
      title="Subscribe, like & comment on YouTube videos"
    >
      <Icon icon="YouTube" style="height:1.25rem;" />
    </a>
  </li>
  <li>
    <a
      href="https://twitch.tv/baldbeardedbuilder"
      rel="me"
      target="_blank"
      title="Check out the live streams on Twitch"
    >
      <Icon icon="Twitch" style="height:1.25rem;" />
    </a>
  </li>
</ul>

<style>
  ul {
    @apply hidden md:flex list-none gap-10 p-0 m-0;
  }
  li {
    @apply flex justify-center items-center;
  }
  a svg {
    @apply text-fadedGray fill-fadedGray;
    @apply hover:text-neon active:text-neon;
    @apply hover:fill-neon active:fill-neon;
  }
</style>