---
import Icon from './Icon.astro'
---

<ul class="socials" id="socials">
  <li>
    <a
      href="https://twitter.com/michaeljolley"
      rel="me"
      target="_blank"
      class="twitter"
      title="Follow the musings on Twitter"
    >
      <Icon icon="Twitter" style="height:1.25rem;" class="icon" />
    </a>
  </li>
  <li>
    <a
      href="https://youtube.com/baldbeardedbuilder"
      rel="me"
      target="_blank"
      class="youtube"
      title="Subscribe, like & comment on YouTube videos"
    >
      <Icon icon="YouTube" style="height:1.25rem;" class="icon" />
    </a>
  </li>
  <li>
    <a
      href="https://twitch.tv/baldbeardedbuilder"
      rel="me"
      target="_blank"
      class="twitch"
      title="Check out the live streams on Twitch"
    >
      <Icon icon="Twitch" style="height:1.25rem;" class="icon" />
    </a>
  </li>
  <li>
    <a
      href="https://www.instagram.com/baldbeardedbuilder/"
      rel="me"
      target="_blank"
      class="instagram"
      title="Follow the fun on Instagram"
    >
      <Icon icon="Instagram" style="height:1.25rem;" class="icon" />
    </a>
  </li>
  <li>
    <a
      href="https://www.linkedin.com/in/michaelwjolley/"
      rel="me"
      target="_blank"
      class="linkedin"
      title="Get professional on LinkedIn"
    >
      <Icon icon="LinkedIn" style="height:1.25rem;" class="icon" />
    </a>
  </li>
  <li>
    <a
      href="https://github.com/michaeljolley"
      rel="me"
      target="_blank"
      class="github"
      title="Check out my code on GitHub"
    >
      <Icon icon="Github" style="height:1.25rem;" class="icon" />
    </a>
  </li>
  <li>
    <a
      href="https://discord.gg/kC8HTrs59R"
      rel="me"
      target="_blank"
      class="discord"
      title="Join the conversation on Discord"
    >
      <Icon icon="Discord" style="height:1.25rem;" class="icon" />
    </a>
  </li>
</ul>
