nav.toc {
	padding: 0 1rem;
}
.toc ul {
	display: flex;
	flex-direction: column;
	padding: 0;
	list-style: none;
}

.toc li {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	margin: 0;
	font-size: 0.7rem;
	border-left: 4px solid transparent;
}

.toc a {
	padding: 0;
	text-decoration: none;
	color: var(--light-text);
}
li:not(.link--active) a:hover {
	color: var(--blue);
}

li.link--level3 {
	padding-left: 1.5rem;
}
li.link--active {
	font-weight: bold;
	border-left-color: var(--green);
}
li.link--active a {
	color: var(--light);
}
