---
import { isOnline, getLastStream } from '@scripts/twitch';

const isLive = await isOnline();
const {lastStreamUrl, lastThumbnail} = await getLastStream();
---
{
	!isLive && (
	<section>
		<div class="wrapper">
			<aside>
				<svg
					style="height: 10rem;"
					aria-hidden="true"
					class="fill"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 512 512"
				>
					<path
						fill="currentColor"
						d="M391.2 103.5H352.5v109.7h38.63zM285 103H246.4V212.8H285zM120.8 0 24.31 91.42V420.6H140.1V512l96.53-91.42h77.25L487.7 256V0zM449.1 237.8l-77.22 73.12H294.6l-67.6 64v-64H140.1V36.58H449.1z"
					></path>
				</svg>
				Catch It Live
			</aside>
			<div>
				<p>Q&amp;A's, how-to's, and plenty of shenanigans. Follow Triple B on <a href="https://twitch.tv/baldbeardedbuilder">Twitch</a> to be notified when he's live.</p>
				<h3>Latest Stream</h3>
				<a
					class="player"
					target="_blank"
					title="Watch the latest stream on Twitch"
					href={lastStreamUrl}
				>
					<img src={lastThumbnail} loading="lazy"/>
				</a>
			</div>
		</div>
	</section>
	)
}

<style>
section {
	background-color: var(--twitch);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 3rem 0;
	overflow: hidden;
	color: var(--light);
}
.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	margin: 2rem 0;
}
aside {
	font-family: var(--font-anton);
	font-size: 10rem;
	color: var(--yellow);
	text-transform: uppercase;
	position: relative;
}
h3 {
	font-family: var(--font-anton);
	font-size: 2rem;
	text-transform: uppercase;
	margin: 2rem 0;
	color: var(--light);
}
svg {
	color: var(--pink);
	position: absolute;
	top: 10vw;
	right: -10vw;
	height: 70%;
	transform: rotate(20deg);
}
div a {
	color: var(--light);
}
.player {
	display: inline-flex;
	transform: rotate(-2deg);
	border: 10px dashed var(--yellow);
	padding: 0.5rem;
}
.player:hover {
	border-color: var(--pink);
	transform: rotate(2deg);
}
.player img {
	aspect-ratio: 16 / 9;
	width: 100%;
	max-width: 690px;
}

@media (min-width: 640px) /* sm */ {
	svg {
		top: 4vw;
		right: -5vw;
	}
}

@media (min-width: 768px) /* md */ {
	svg {
		top: 0vw;
		right: -5vw;
	}
}

@media (min-width: 1024px) /* lg */ {
	.wrapper {
		flex-direction: row;
	}
	svg {
		top: 10vw;
		right: 6vw;
	}
	aside {
		font-size: 12rem;
	}
	h3 {
		font-size: 3rem;
	}
}

@media (min-width: 1280px) /* xl */ {
	svg {
		top: 5vw;
		right: 10vw;
	}
}

@media (min-width: 1536px) /* 2xl */ {
	aside {
		max-width: 40vw;
	}
	svg {
		top: 5vw;
		right: 10vw;
	}
}
@media (prefers-reduced-motion: reduce) {
	.player:hover {
		transform: rotate(-2deg);
	}
}

</style>
