---
import SkipToContent from "@components/SkipToContent.astro";
import "@styles/global.css";

// export interface Props extends BaseHeadProps {}

const { title, description, permalink, canonicalUrl } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="dark">
  <body>
    <SkipToContent />
    <main id="content">
      <slot />
    </main>
  </body>
</html>
